/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.right {
  text-align: right;
}
.normal-text {
  font-weight: normal;
}
.grade-average {
  float: right;
  font-size: 14px;
}
.capitalize {
  text-transform: capitalize;
}
.category {
  color: #3a87ad;
}
.age-cell {
  padding-top: 13px;
  position: relative;;
}
.age-label {
  opacity: 0.5;
}
.exercise-name {
  width: 330px;
}

.reps {
  width: 22px;
  height: 22px;
  text-align: center;
}
.align-h3 {
  padding-top: 24px;
  padding-bottom: 10px;
}
.align-h5 {
  padding-top: 10px;
  padding-bottom:10px;
}
.margin-right {
  margin-right: 10px;
}
.inline-block {
  display: inline-block;
}
.km {
  padding-left: 0px!important;
  padding-right: 0px!important;
  padding-top: 0px!important;
  padding-bottom: 0px!important;
}
.km-left {
  padding-left: 0px!important;
}
.btn-space {
  margin-right: 10px;
}
li .list-group-item {
  min-height: 30px;
}
.action-icon {
  margin-left: 5px;
  width: 22px;
  height: 22px;
  display:inline-block;
}
.delete-exercise {
  color: #a94442;
}
.delete-exercise > * {
  color: #a94442;
}
.input-group-addon.no-style {
  border: 0px;
  background-color: transparent;
}
.ub {
  font-weight: normal;
}
.bold {
  font-weight: bold;
}
.list-group-item.hover-highlight:hover {
  background-color: #fcf8e3;
}
.list-group-item {
  /*border: 0px;*/
}
.list-group-item:not(:last-child) {
  /*border-bottom: 1px solid #ddd;*/
}
.note {
  margin-left: 10px;
}