<label>Exercise Summary</label>
<div ng-if="UserProfile.loadingData"><span us-spinner></span> Loading...</div>
<div ng-if="!UserProfile.loadingData">
	<div ng-if="UserProfile.saving" us-spinner></div>
	<div ng-if="UserProfile.updateUserSuccess" class="alert alert-success">
		<strong>Success!</strong> User profile updated
	</div>
	<div ng-if="UserProfile.updateUserError" class="alert alert-danger">
		<strong>Error!</strong> {{UserProfile.updateUserErrorMessage}}
	</div>
	<div>
		<div class="pull-right align-h3" ng-if="UserProfile.isAdmin">
			Role <select ng-disabled="UserProfile.saving" 
				ng-change="UserProfile.roleChanged()" 
					ng-model="UserProfile.selectedUserRole">
					<option value="ATHLETE">Athlete</option>
					<option value="ADMIN">Admin</option>
				</select>
		</div>
		<div ng-if="!UserProfile.editUser">
			<h3 style="display:inline-block;">{{UserProfile.userData.userProfileModel.firstName}} {{UserProfile.userData.userProfileModel.lastName}}</h3>
			<div action-directive="UserProfile.editUser = true" tabindex="0" ng-if="UserProfile.isAdmin"
				title="Edit" class="glyphicon glyphicon-edit"></div>
		</div>
		<div ng-if="UserProfile.editUser">
			<label>Edit User</label>
			<form ng-submit="UserProfile.updateUser()" ng-if="UserProfile.editUser" class="form-inline">
				<div class="form-group">
					<input type="text" class="form-control"
						ng-model="UserProfile.updateUserModel.firstName" />
				</div>
				<div class="form-group">
					<input type="text" class="form-control"
						ng-model="UserProfile.updateUserModel.lastName" />
				</div>
				<div class="form-group">
					<button type="submit" class="form-control btn btn-primary" 
						tabindex="0">Save</button>
				</div>
				<div class="form-group">
					<div class="form-control btn btn-danger" tabindex="0"
						action-directive="UserProfile.cancelEditUser()">Cancel</div>
				</div>
			</form>
		</div>
		<div>
			<label>{{UserProfile.userData.userProfileModel.email}}</label>
			<div class="pull-right">
				<label>Coach: </label>
				<span ng-if="!UserProfile.isAdmin">
					<label>{{UserProfile.coachName}}</label>
				</span>
				<span ng-if="UserProfile.isAdmin">
					<select ng-model="UserProfile.userData.userProfileModel.coachId" 
					ng-change="UserProfile.coachChanged()"
					ng-options="coach.id as coach.fullName for coach in UserProfile.coaches">
						<option value="">Unassigned</option>
					</select>
				</span>
			</div>
		</div>
	</div>
	<div ng-if="UserProfile.setRoleError" class="alert alert-danger">
		<strong>Error!</strong> {{UserProfile.setRoleErrorMessage}}
	</div>

	<ul class="list-group">
		<li class="list-group-item">
			<label>Standard:</label>
			<span ng-if="UserProfile.userData.selectedStandard">{{UserProfile.userData.selectedStandard.exerciseModel.name}}</span>
			<div class="pull-right">
				<span class="badge" ng-if="UserProfile.userData.selectedStandard">
					Single Rep: {{UserProfile.userData.selectedStandard.estimated1RM | number:0}}
				</span>
				<span ng-if="UserProfile.isAdmin" class="action-icon">
					<a ui-sref="standards({userId: UserProfile.userId})">
						<span class="text-muted glyphicon glyphicon-edit"></span>
					</a>
				</span>
			</div>
		</li>
	</ul>

	<style>
		tr.comparing {
			background-color: lightgrey;
			text-decoration: line-through;
		}
		tr.comparing.success {

		}
		tr.comparing-success {
			color: #3c763d;
		}
		tr.comparing-warning {
			color: #8a6d3b;
		}

		/* Tooltip container */
		.tooltip {
		    position: relative;
		    display: inline-block;
		    /*border-bottom: 1px dotted black;  If you want dots under the hoverable text */
		}

		/* Tooltip text */
		.tooltip .tooltiptext {
		    visibility: hidden;
		    width: 120px;
		    background-color: black;
		    color: #fff;
		    text-align: center;
		    padding: 5px 0;
		    border-radius: 6px;
		 
		    /* Position the tooltip text - see examples below! */
		    position: absolute;
		    left: -45px;
		    top: 20px;
		    z-index: 1;
		}

		/* Show the tooltip text when you mouse over the tooltip container */
		.tooltip:hover .tooltiptext {
		    visibility: visible;
		}
	</style>

	<div ng-if="UserProfile.userData.exercisesByGroup.length > 0">
		<div ng-repeat="entry in UserProfile.userData.exercisesByGroup"
		class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th ng-if="UserProfile.isAdmin" class="text-muted">
							<span class="glyphicon glyphicon-equalizer"></span>
						</th>
						<th class="text-muted">
							<span class="glyphicon glyphicon-calendar"></span>
						</th>
						<th>
							<span class="capitalize category">{{entry.group.displayName}}</span>
							<span class="normal-text grade-average badge alert-info">{{entry.averageGrade | number:2}} avg</span>
						</th>
						<th class="right">Goal</th>
						<th width="80px" class="right">RM</th>
						<th class="right">Grade</th>
						<th class="right">Reps</th>
						<th width="80px" class="right">#</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="exercise in entry.exercises" 
						ng-click="UserProfile.tableRowClicked(entry, exercise)"
						ng-class="{'success':exercise.grade >= 1 && (!entry.comparing || exercise.comparing), 'comparing':entry.comparing && !exercise.comparing, 'compring-success':exercise.grade >=1 && entry.comparing}">
						<td ng-if="UserProfile.isAdmin">
							<input id="compare{{exercise.id}}" type="checkbox" ng-model="exercise.comparing" ng-click="exercise.comparing=!exercise.comparing" />
						</td>
						<td class="age-cell">
							<div class="age-label label label-info tooltip">
								<span class="tooltiptext">{{exercise.recordedDttm | date}}</span>
								{{exercise.monthsAgo}}
							</div>
						</td>
						<td><div class="exercise-name">{{exercise.exerciseModel.name}}</div></td>
						<td class="right">{{exercise.goal | number:0}}</td>
						<td class="right">{{exercise.estimated1RM | number:0}}</td>
						<td class="right">{{exercise.grade | number:2}}</td>
						<td class="right">{{exercise.reps}}</td>
						<td class="right">{{exercise.weight}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<form name="addExerciseForm" ng-submit="UserProfile.addExercise(addExerciseForm)">
		<h3>Add Exercise</h3>

		<div ng-if="UserProfile.showExerciseAdded" class="alert alert-success">
			<strong>Added!</strong> The exercise has been added.
		</div>

		<div ng-if="UserProfile.exerciseAddedError" class="alert alert-danger">
			<strong>Error!</strong> There was an error adding the exercise.
		</div>

		<div class="form-group">
			<label>Date</label>
			<input type="date" class="form-control" required
				ng-model="UserProfile.addExerciseModel.date"/>
		</div>
		<div class="form-group">
			<label>Exercise</label>
			<select class="form-control" required 
      			ng-model="UserProfile.addExerciseModel.exercise">
      			<optgroup ng-repeat="entry in UserProfile.groupedExercises"
      				label="{{entry.group.displayName}}">
      				<option ng-repeat="exercise in entry.exercises"
      					value="{{exercise.id}}">{{exercise.name}}</option>
      			</optgroup>
      		</select>
		</div>
		<div class="form-group">
			<label>Weight</label>
			<select class="form-control" required
				ng-model="UserProfile.addExerciseModel.weight">
				<option ng-repeat="weight in UserProfile.weights" 
					value="{{weight}}">{{weight}}</option>
			</select>
		</div>
		<div class="form-group">
			<label>Reps</label>
			<select class="form-control" required
				ng-model="UserProfile.addExerciseModel.reps">
				<option ng-repeat="rep in UserProfile.reps" 
					value="{{rep}}">{{rep}}</option>
			</select>
		</div>
		<div class="form-group">
			<label>Note</label>
			<input type="text" ng-model="UserProfile.addExerciseModel.note" class="form-control"/>
		</div>
		<button type="submit" class="btn btn-primary"
			ng-disabled="UserProfile.saving">Add Exercise</button>
	</form>

	<h3>Exercise Log</h3>
	<div ng-if="UserProfile.deleteExerciseError" class="alert alert-danger">
		<strong>Error!</strong> {{UserProfile.deleteExerciseErrorMessage}}
	</div>
	<div ng-if="UserProfile.userData.exercisesByDate.length > 0">
		<div ng-repeat="entry in UserProfile.userData.exercisesByDate" 
			ng-if="UserProfile.countVisibleEntries(entry.exercises) > 0"
			class="panel panel-default">
			<div class="panel-heading"><h5>{{entry.date | date}}</h5></div>
			<div class="panel-body">
				<ul class="list-group">
					<li class="list-group-item hover-highlight col-xs-12" 
						ng-repeat="exercise in entry.exercises"
						ng-if="exercise.deleted != true">
						<div class="pull-right action-icon delete-exercise">
							<span ng-click="UserProfile.deleteExerciseRecorded(exercise)" 
							title="Remove" class="glyphicon glyphicon-remove"></span>
						</div>
						<span class="badge alert-info reps">{{exercise.reps}}</span>
						<span class="badge alert-success">{{exercise.weight}}#</span>
						<div>{{exercise.exerciseModel.name}}<span class="note text-muted">{{exercise.note}}</span></div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div ng-if="UserProfile.userData.exercisesByDate.length == 0">
		<label>There are no recorded exercises for this user.</label>
	</div>
</div>
<div ng-if="UserProfile.error" class="alert alert-danger">
	<strong>Error!</strong> {{UserProfile.errorMessage}}
</div>
<div ng-if="UserProfile.isAdmin">
	<hr/>
	<button ng-click="UserProfile.deleteUser(UserProfile.userId)" class="btn btn-danger">Delete User</button>
</div>