<div>
	<h2>The Perfect Account</h2>
</div>
<div ng-if="PerfectAccount.dataLoading"><span us-spinner></span> Loading...</div>
<div ng-if="!PerfectAccount.dataLoading">
	<div ng-if="PerfectAccount.warning" class="alert alert-warning">
		No perfect account has been set.
	</div>

	<div ng-if="PerfectAccount.successful" class="alert alert-success">
		<strong>Success!</storng> {{PerfectAccount.successfulMessage}}
	</div>
	<div ng-if="PerfectAccount.error" class="alert alert-danger">
		<strong>Error!</strong> {{PerfectAccount.errorMessage}}
	</div>

	<form name="perfectAccountForm" ng-submit="PerfectAccount.setAccount(perfectAccountForm)">
		<h3>Set Account</h3>
		<div class="form-group">
			<label>Select Account</label>
			<select class="form-control" required 
      			ng-model="PerfectAccount.selectedAccountId">
  				<option ng-repeat="entry in PerfectAccount.users"
  					value="{{entry.id}}">{{entry.lastName}}, {{entry.firstName}}</option>
      		</select>
		</div>
		<button type="submit" class="btn btn-primary"
			ng-disabled="PerfectAccount.saving">Set Account</button>
	</form>	
</div>